body {
   background: url("img/background.jpg") no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   font-family: "Lato", sans-serif;
}

.container {
   position: relative;
   top: 0;
   width: 80%;
   height: 80%;
   float: right;
}

h2 {
   color: #000000;
   text-align: center;
   padding: 10px;
}

.navbar {
   font-size: 15px;
   padding: 0px 10px 0px 10px !important;
}

.navbar h5 {
   padding: 0px 0px 0px 20px;
}

.navbar li {
   padding: 0px 20px 0px 0px;
}
