body {
    background: url(img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  overflow: none;
  display: block;
  max-width: 330px;
  padding: 15px;
  background-color: white;
  position:  center center;
  }

h2 {
  font-weight: bold;
  color: rgba(5, 129, 179, 0.815);
  font-size: 20px;
}

.form-login {
  max-width: 430px;
  padding: 15px;
  margin: auto;
}

#fsh_logo {
  background-image: url('img/fsh_logo.png');
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  margin: auto ;
  background-size: contain;
  background-position: center center;
}

#curtin_logo {
  background-image: url('img/curtin_logo.png');
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  margin: auto;
  background-size: contain;
  background-position: center center;
}

#fsh_logo {display:inline-block;margin-right:10px;} 
#curtin_logo {display:inline-block;}

.form-login input[type="text"] {
  margin-bottom: -1px;
  width: 250px;
  
}

.form-login input[type="password"] {
  margin-bottom: -1px;
  width: 250px;
 
}

.form-login input[type="email"] {
margin-bottom: -1px;
width: 250px;

}

.user {
  background: url('img/curtin_logo.png') no-repeat;
}

.navbar {
   font-size: 15px;
   height: 15px;
   font-family: Lato;
}

.navbar h5 {
   padding: 0px 0px 0px 20px;
}
